@font-face
{
	font-family:'Rubik-Regular';
	src: url('contenu/fonts/Rubik-Regular.ttf');
}

@font-face
{
	font-family:'amatic';
	src: url('contenu/fonts/Amatic-Bold.ttf');
}	

html
{
	background: url(contenu/images/background.jpg) no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}

body
{
	font-family:'Rubik-Regular';
	font-size: 20px;
	margin: auto;
}

#main_wraper
{
	width:900px;
	margin:auto;
}

h1
{
	font-family:'amatic';
	font-size: 50px;
}

h2
{
	font-family:'amatic';
	font-size:40px;
}

.icon_category
{
	padding-right:12px;
}

header
{
    background: url('contenu/logo/separateur.png') repeat-x bottom;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#titre_principal
{
    display: flex;
    flex-direction: column;
}

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
}

nav a
{
	font-family:'amatic';
    font-size: 40px;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #1c100b;
    border-bottom: 3px solid #1c100b;
}

#banniere_image
{
	background: url('contenu/logo/banniere.jpg') no-repeat;
	position:relative;
	margin-top: 15px;
	height:200px;
	border-radius: 5px 5px 5px 5px;
}

#banniere_description
{
	position: absolute;
    bottom: 0;
    width: 99.5%;
    height: 33px;
	background-color: rgba(24,24,24,0.8);
	padding-top:4px;
	padding-bottom:4px;
	padding-left: 4px;
	border-radius: 0px 0px 5px 5px;
	bottom:0;
	color:white;
}

#banniere_text_description
{
	position: absolute;
	bottom:9px;
}

.bouton_rouge
{
	font-size:18px;
	height: 25px;
    position: absolute;
    right: 5px;
    bottom: 5px;
	background: url('contenu/logo/fond_degraderouge.png') repeat-x;
	border: 1px solid #760001;
    border-radius: 5px;
    text-align: center;
    padding: 3px 8px 0px 8px;
    color: white;
    text-decoration: none;
}

/*Corps*/

section
{
	display:flex;
	margin-bottom: 20px;
}

article
{
    margin-right: 20px;
    flex: 3;
}

aside
{
	font-family:'Rubik-Regular';
	flex: 1.2;
    position: relative;
    background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 0.9em;
}

aside h2
{
	text-align:center;
}

aside p
{
	text-align:center;
}

#aside_image
{
	text-align:center;
}

#aside_image img
{
	border: 1px solid #181818;
}